# Python cache
__pycache__/
*.py[cod]
*.so

# Environments
.venv/
venv/
env/
.env

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
*.ipynb_checkpoints
.ipynb_checkpoints/

# OS specific
.DS_Store
.directory

# === Data and Models (Too large for Git) ===
data/raw/
data/processed/
data/clean/
models/*.h5
models/*.pt
models/*.onnx
models/*.data
onnx/*.onnx
onnx/*.data

# === HLS/Vivado Artifacts (Generated) ===
hls4ml_prj/
hls4ml_build/
hls_gesture_project/
hls_gesture_project.tar.gz
gesture_system_UltraZed/

# === Installers/Binaries ===
Miniforge*-*.sh

# === Vivado Project ===
# Ignore Vivado temporary files and logs
*.jou
*.log
*.str
*.dmp
vitis_hls.log

# Ignore heavy compilation folders
*.runs/
*.gen/
*.cache/
*.hw/
*.ip_user_files/
*.sim/

# Ignore automatic backups
*.backup.jou
*.backup.log

# (Optional) Ignore the Vivado project itself if using TCL method
# *.xpr