# Python cache
__pycache__/
*.py[cod]
*.so

# Environnements
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
*.ipynb_checkpoints

# OS specific
.DS_Store

# === Données et Modèles (Trop lourds pour Git) ===
data/raw/
data/processed/
data/clean/
models/*.h5
models/*.pt
models/*.onnx
models/*.data
onnx/*.onnx
onnx/*.data

# === Artefacts HLS/Vivado (Générés) ===
hls4ml_prj/
hls4ml_build/
hls_gesture_project/
hls_gesture_project.tar.gz
.directory

gesture_system_UltraZed/

# === Installeurs/Binaries ===
Miniforge*-*.sh

# === Vivado Project ===
# Ignorer les fichiers temporaires et logs Vivado
*.jou
*.log
*.str
*.dmp

# Ignorer les dossiers de compilation lourds
*.runs/
*.gen/
*.cache/
*.hw/
*.ip_user_files/
*.sim/

# Ignorer les backups automatiques
*.backup.jou
*.backup.log

# Ignorer les fichiers temporaires python
__pycache__/
*.pyc
.ipynb_checkpoints/

# (Optionnel) Ignorer le projet Vivado lui-même si tu utilises la méthode TCL
# *.xpr